* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  z-index: 10;
  width: 100%;
  min-height: calc(100dvh - 50px);
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
button {
  width: 95%;
  height: 2.1rem;
  font-size: 18px;
  font-weight: 700;
  border-color: unset;
  border-radius: 10px;
  box-shadow: 7px 5px 20px 3px #231e1ec9;
  background-color: #1f41d65e;
  cursor: pointer;
}
.selectOption {
  resize: none;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  width: 97%;
  font-weight: 600;
  outline: none;
  padding-left: 10px;
  color: black;
  border-bottom: 1px solid;
  padding: 5px;
}
