.container {
  min-height: calc(100dvh - 50px);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.progressBar {
  height: 30px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  border-radius: 14px;
  background-color: #05518b;
  padding: 0 4px 0 4px;
  margin-top: 20px;
}
.progressBar img {
  position: absolute;
  right: 20px;
}
.time {
  position: absolute;
  left: 20px;
}
.progress {
  /* width: 100%; */
  border-radius: 10px;
  background-color: #46d9bf;
  height: 80%;
}
.startButton {
  height: 100%;
  display: flex;
  width: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.startButton img{
  width: 25px;
  cursor: pointer;
}
.startButton img:active{
  scale: 1.2;
}
.startQuizContainer{
  width: 100%;
  z-index: 10;
}
.startQuiz{
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.quizCompleted{
  margin-top: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.quizCompleted h3{
  margin-bottom: 20px;
}
.quizCompleted h4{
margin-bottom: 10px;
}
.quizInfo{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  row-gap: 5px;
}
.bgRed{
      background-color: #d94646;
}
header{
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.question{
  font-size: 25px;
}
.small{
  font-size: 16px;
}
.participents{
  width: 80px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff42;
}
.border{
  width: 95%;
  border-bottom: 1px dashed #fff;
  margin-top: 15px;
}
.que{
  text-align: center;
}
.boxes{
  width: 85%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
.option{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border: 1.5px solid #C1C1C1;
  padding: 0 10px;
  border-radius: 10px;
}
.box1{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #ffffffd5;
  border-radius: 20px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

}
.box2{
  height: 410px;
  position: absolute;
  top: 0;
  border-radius:20px;
  width: 93%;
  background-color: #ffffffc4;
}
.box3{
  height: 420px;
  position: absolute;
  top: 0;
  border-radius:20px;
  width: 85%;
  background-color: #ffffffa9;
}
.successIcon{
  width: 50%;
}