.container{
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
}
.boxs{
      width: 100%;
}
.box{
      padding: 5px 5px 0px 5px;
      border-left: 1px solid;
      border-right: 1px solid;
      margin-top: 10px;
}
.data{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid;
      margin-bottom: 9px;
      padding: 0 5px 5px 5px;
}
.data img{
      width: 30px;
}
.button{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background-color: blue;
      border-radius: 10px;
      height: 2rem;
}